*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Node modules
node_modules/

# Archivos sensibles
.env
senderlink_api/.env

# Uploads (archivos subidos por usuarios)
senderlink_api/uploads/

# Firebase service account
*.json
!package.json
!package-lock.json
